.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(41, 216, 70, 0.08);
}

h2 {
  color: #003580;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #666;
}

.form {
  display: grid;
  gap: 2rem;
}

.imageBlock {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.imageBlock label {
  font-weight: 600;
  color: #003580;
}

input[type="file"] {
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.preview {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 0.5rem;
  box-shadow: 0 4px 12px rgba(138, 21, 21, 0.1);
}

.textarea {
  resize: none;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  min-height: 80px;
}

.submitBtn {
  padding: 1rem;
  background: linear-gradient(to right, #003580, #005ea2);
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition:  0.3s ease;
}

.submitBtn:hover {
  background: linear-gradient(to right, #005ea2, #003580);
}
