.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  
}


.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.managerSlide {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

textarea {
  resize: vertical;
  min-height: 60px;
}
.removeImageBtn {
  margin-top: 8px;
  background-color: #c0392b;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.removeImageBtn:hover {
  background-color: #a93226;
}

.filename {
  font-size: 0.9rem;
  margin: 4px 0;
  color: #333;
}

